body {
    background-color: #1f1f1f;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .asimov {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 1rem;
  }
  
  table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 80%;
  }
  
  th {
    background-color: #ff5e5e;
    color: #fff;
    font-size: 1.2rem;
    padding: 0.5rem;
  }
  
  td {
    background-color: #505050;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem;
  }
  
  .notes td:first-child {
    font-weight: bold;
  }
  
  .error {
    background-color: #ff5e5e;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    padding: 0.5rem;
    margin: 1rem auto;
    width: 80%;
  }
  
  a {
    color: #ff5e5e;
    text-decoration: none;
  }
  
  a:hover {
    color: #fff;
    text-decoration: underline;
  }
  
  h3 {
    color: #ff5e5e;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 2rem auto 1rem;
    text-align: center;
  }

  input[type=number] {
    -moz-appearance: textfield;
}
